@import url('./variables.scss');

$tab-nav-height: 46px;

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0 $app-side-width;
  overflow: hidden;

  :global {
    .ant-tabs {
      height: 100vh;
    }

    .ant-tabs-top > .ant-tabs-nav {
      margin: 0;
      background-color: #fff;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      text-shadow: none;
    }

    .ant-tabs-tabpane {
      box-sizing: border-box;
      height: calc(100vh - $tab-nav-height);
      min-height: calc(100vh - $tab-nav-height);
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
};
